footer {
  // equal to page-wrap margin-bottom for STICKY FOOTER
  height: 50px;
  margin-bottom: -50px;
  background-color: #000;
  padding: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}
