.menu-btn {
	position: fixed;
	z-index: 999999;
	top: 30px;
	left: 30px;
	height: 40px;
	width: 40px;
	cursor: pointer;
	visibility: visible;

	span {
		display: block;
		width: 25px;
		height: 3px;
		background-color: #fff;
		margin: 5px 0;
		border-radius: 15px;
		@include transition(0.4s linear);
		@include transition-delay(0.5s);
	}
}

.header {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 320px;
	max-width: 95%;
	z-index: 99999;
	left: -320px;
	overflow-y: auto;
    overflow-x: hidden;
	background-color: rgba(64,64,64,1);
	@include box-shadow(inset -7px 0 9px -7px rgba(0,0,0,0.7));
	@include transition(0.4s linear);

	.container, .row {
		height: 100%;
	}

	nav.left-side-menu {
		width: 320px;
		height: 100vh;
		position: absolute;
		left: 0;
		padding: 0 3rem 4rem;

		&.open {
			display: block;
		}

		.menu-header {

			h3 {
				color: $brand-color;
				padding: 30px 0px;
				margin-top: 5px;
				text-transform: uppercase;
			}

			span {
				position: absolute;
				width: 0;
				height: 3px;
				right: 25px;
				top: 46px;
				background-color: #fff;
				@include transform(rotate(45deg));
				@include transition(0.4s linear);
				@include transition-delay(0.6s);

				&:last-child {
					@include transform(rotate(-45deg));
				}
			}
		}

		ul {
			list-style-type: none;
			padding-left: 0;

			li {
				display: block;
				line-height: 3em;

				&.active {

					a {
						color: $brand-color;
					}
				}

				&.has-sub {
					position: relative;

					.sub-btn {
						position: absolute;
					    z-index: 999999999999;
					    display: block;
					    right: -15px;
					    padding: 10px;
					    top: 0;
					    height: 30px;
					    width: 30px;
					    cursor: pointer;

					    .fa-angle-down {
					    	color: #fff;
					    	margin-left: 10px;
					    	margin-top: 5px;
					    	position: absolute;

					    	&:hover {
					    		color: $brand-color;
					    	}

					    	&.flip {
					    		@include transform(rotate(180deg));
					    		color: $brand-color;
					    	}
					    }
					}
				}

				a {
					display: block;
					color: #fff;
					font-weight: 300;
					text-transform: uppercase;
					font-size: 12px;
					letter-spacing: 2px;

					&:hover {
						text-decoration: none;
						color: $brand-color;
					}

					&:focus {
						text-decoration: none;
					}
				}

				ul {
					padding-left: 15px;
					max-height: 0;
					overflow: hidden;
					visibility: hidden;

					&.open-sub {
						max-height: 43.75rem;
						visibility: visible;
						@include transition(0.6s linear);
					}

					li {

						a {
							display: block;
							color: #fff;
							font-weight: 300;
							text-transform: uppercase;
							font-size: 11px;
							letter-spacing: 2px;

							&:hover {
								text-decoration: none;
								color: $brand-color;
							}

							&:focus {
								text-decoration: none;
							}
						}
					}
				}
			}

			hr {
				border-top: 1px solid rgba(255,255,255,0.3);
			}
		}
	}
}

.menu-overlay {
	display: none;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	top: 0;
	left: 0;
	z-index: 9999999;
}
